# Dependencies
node_modules
server/node_modules

# Environment variables
.env
server/.env

# Build output
dist
build

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Vercel
.vercel

# Prisma
server/prisma/migrations
*.db
*.db-journal
